#路径配置方式：
#/path/?: 匹配单个字符
#/path/*: 匹配多个字符
#/path/**: 匹配多个字符并且支持多级目录
#如果有多个需要忽略，使用英文逗号（,）分隔，如：trace.ignore_path=/eureka/**,/consul/**
# 移除 Redisson心跳
# 移除 Oracle select 1 from dual
# 移除 电子签名check 
trace.ignore_path=Redisson/PING,Redisson/SENTINEL,Redisson/AUTH,Redisson/QUIT,Oracle/JDBI/Statement/executeQuery,/assets/**,Lettuce/**,/oauth/authorize,**.map,/k8s/liveness


